<div class="service_details p-0 m-0">
    <div class="container-fluid p-0 m-0">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center service_details_title">
                    <h2>Services Details</h2>
                    <button class="btn mt-3  common_btn text-center">
                        <a href="#" class="text-decoration-none text-light">Service Details</a>|| Service
                    </button>
                </div>
            </div>

        </div>
        <div class="row service_cotegory">
            <div class="col-md-4">
                <div class="sidebar-widget-single">
                    <div class="row">
                        <h3>Category</h3>
                        <ul class="sidebar-widget-list">
                            <li><a href="#" class="text-span">ui/us/Design <i class="fa fa-arrow-right"
                                        aria-hidden="true"></i> </a></li>
                            <li><a href="#" class="text-span">Web Development <i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="#" class="text-span">Branding Identity <i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="#" class="text-span">Digital Marketing <i class="fa fa-arrow-right"
                                        aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-widget-single">
                    <div class="row">
                        <h3>Resume</h3>
                        <ul class="sidebar-widget-list">
                            <li><a href="#" class="text-span">Get Resume.pdf<i class="fa fa-file-pdf-o"
                                        aria-hidden="true"></i> </a></li>
                            <li><a href="#" class="text-span">Get Resume.doc <i class="fa fa-file-text-o    "
                                        aria-hidden="true"></i></a></li>
                            <li><a href="#" class="text-span">Get Resume.ppt <i class="fa fa-pinterest-p"
                                        aria-hidden="true"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7  right_service_item">
                <figure class="figure">
                    <img src="../../../../assets/images/banner-img.jpg" alt="service_details"
                        class="figure-img img-fluid ">
                </figure>
                <div class="service_details_content">
                    <h5>
                        <pre style="color: #a0a2ab;">||  UI/UX Design</pre>
                    </h5>
                    <h2 class="ux_desing">UI design can make easy your complex product.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit aliquid enim
                        necessitatibus dolorum nesciunt nulla maiores voluptates quidem praesentium reprehenderit
                        laborum eum eos, aperiam voluptate assumenda sequi quos</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit aliquid enim
                        necessitatibus dolorum nesciunt nulla maiores voluptates quidem praesentium reprehenderit
                        laborum eum eos, aperiam voluptate assumenda sequi quos.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit aliquid enim
                        necessitatibus dolorum nesciunt nulla maiores voluptates quidem praesentium reprehenderit
                        laborum eum eos, aperiam voluptate assumenda sequi quos.</p>
                </div>
                <div class="service_details_content">
                    <h2 class="ux_desing">Why Choose Me?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit aliquid enim
                        necessitatibus dolorum nesciunt nulla maiores voluptates quidem praesentium reprehenderit
                        laborum eum eos, aperiam voluptate assumenda sequi quos</p>
                    <div class="row">
                        <div class="content-item">
                            <h4>Leadership
                            </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit Lorem
                                ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="content-item">
                            <h4>
                                <pre>Team Work</pre>
                            </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit Lorem
                                ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="content-item">
                            <h4>Flexibility
                            </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum suscipit Lorem
                                ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis fuga consectetur eligendi
                            recusandae nostrum incidunt veritatis, blanditiis neque, aperiam deleniti id eveniet quas,
                            beatae culpa ipsa iusto vel? Neque, est!</p>
                    </div>
                    <div class="row">
                        <h3>My Service Planing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus vero id reprehenderit
                            dignissimos repellat totam laboriosam cupiditate aliquid, similique itaque quidem iure omnis
                            provident eveniet nemo, in iusto velit reiciendis!</p>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="service_planing">
                                <h3>basic </h3>
                                <h3 class="plan_amount">$ 90 </h3>
                                <span class="ps-5">/mo</span>
                                <ul class="mt-4">
                                    <li class="plann_text">
                                        <p>01 Landing Page</p>
                                    </li>
                                    <li>
                                        <p>08 Inner page</p>
                                    </li>
                                    <li>
                                        <p>03 Months support</p>
                                    </li>
                                    <li>
                                        <p>04 Revision</p>
                                    </li>
                                </ul>
                                <button class="btn plan_btn common_btn text-center">
                                    <a href="#" class="text-decoration-none text-light">Get Started</a>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="service_planing">
                                <span class="plann_item mb-3">
                                    <h3>Standard </h3>
                                    <h3 class="plan_amount ">$ 100 </h3><span class="ps-5">/mo</span>
                                </span>
                                <ul class="mt-4">
                                    <li>
                                        <p>03 Landing Page</p>
                                    </li>
                                    <li>
                                        <p>18 Inner page</p>
                                    </li>
                                    <li>
                                        <p>Unlimited Revision</p>
                                    </li>
                                </ul>
                                <button class="btn plan_btn common_btn text-center">
                                    <a href="#" class="text-decoration-none text-light">Get Started</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid  client_section">
            <div class="row trusted_com">
                <div class="col-md-12 text-start fs-5">
                    <pre>||  Favourite Clients</pre>
                </div>
                <h1>Work With Trusted Comapny.</h1>
            </div>
            <div class="row ">
                <swiper-container slides-per-view="4" events-prefix="swiper-" init="true">

                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/1.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/2.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card  trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/3.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card  trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/4.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/1.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/2.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/3.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                    <swiper-slide class="col-md-3 me-5 ">
                        <div class="card trust_com_card text-start">
                            <img class="card-img-top" src="../../../../assets/images/logo/4.png" loading="lazy"
                                alt="trusted company name " />
                        </div>
                    </swiper-slide>
                </swiper-container>
            </div>

        </div>
    </div>
</div>