<div class="container-fluad">
    <div class="row">
        <div class="col">
            <p class="text-center footer_text"> || Get Latest Updates</p>
            <h1 class="text-center footext"> Subscribe For Newsletter</h1>
        </div>
    </div>
    <div class="row d-flex justify-contant-between gap-2 mt-5 ">
        <div class="col-sm-6 col-md-7  ">
            <input type="text" placeholder="example@gmail.com" class="btn footer_email common_btn">
        </div>
        <div class="col-sm-6 col-md-3 float-end ">
            <button class="btn sub_btn common_btn">Subscribe</button>
        </div>

        <div class="row mt-5 footer_info d-flex justify-contant-center align-items-baseline  ">
            <div class="col-md-4  ">
                <div class="contact_box d-flex justify-contant-center align-items-baseline">
                    <a href="tel:+9570981840" class=" text-decoration-none contact_no"> <i
                            class="fa fa-volume-control-phone icon_styl common_btn" aria-hidden="true"></i></a>
                    <h6 id="#tel" class="ps-4  fs-2">9570981840</h6>
                </div>
            </div>
            <div class="col-md-4 contact_box d-flex justify-contant-center align-items-baseline ">
                <i class="fa fa-envelope-o icon_styl common_btn" aria-hidden="true"></i>
                <a href="https://mail.google.com/mail/u/?authuser=email@domain.com" target="_blank"
                    class="ps-4 fs-2 text-decoration-none text-light">{{email}}</a>
            </div>
            <div class="col-md-4 contact_box socel_link d-flex justify-contant-center align-items-baseline">
                <a href="https://www.facebook.com/rajeet.paswan.3139" class="ps-4 fs-2 text-decoration-none"><i
                        class="fa  fa-facebook icon_styl common_btn" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/rsm_coder/" target="_blank" class="ps-4 fs-2 text-decoration-none"><i
                        class="fa  fa-instagram icon_styl common_btn" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/manjeet-malhotra-033699225/"
                    class="ps-4 fs-2 text-decoration-none"><i class="fa  fa-linkedin icon_styl common_btn"
                        aria-hidden="true"></i></a>
                <a href="https://wa.me/+9570981840" class="ps-4 fs-2 text-decoration-none"><i
                        class="fa  fa-whatsapp icon_styl common_btn" aria-hidden="true"></i></a>

            </div>
        </div>
        <div class="row mt-3 border-top">
            <div class="col-md-12 d-flex justify-content-between align-items-baseline foo_copy_text">
                <p> © 2024 Lendex Made with by Manjeet Malhotra</p>
                <a href="#"> <img src="assets/images/logo/logo.png" alt=""></a>
            </div>
        </div>
    </div>

</div>