.footer_section {
    width: 100%;
    background-color: #252734;
}

.footer_text {
    color: var(--pale-sky);
    font-size: 1.5rem;
    padding-top: 5rem;
}

.footext {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    font-family: "Cormorant Garamond", serif;
    box-sizing: border-box;
}

.footer_email {
    text-align: start;
    width: 600px;
    padding: 15px 30px;
}

@media(max-width:567px) {
    .footer_email {
        width: 100%;
        gap: 10px;
    }

    .footer_info {
        gap: 1.5rem;
    }
}

.icon_styl {
    border-radius: 50%;
    width: 85px;
    height: 85px;
    padding: 50px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon_styl:hover {
    color: rgb(59, 61, 73) !important;
}

.foo_copy_text {
    padding: 30px;
}

.socel_link a i {
    width: 60px;
    height: 60px;
    float: right;
    color: #fff;
}



.socel_link a i:hover {
    background-color: #fff !important;
    color: #2A2C39;
}

.socel_link a i:focus {
    outline: 0px;
    box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem;
}