.home_section {
    color: #fff;
    background-color: var(--Ebony-Clay);
    background-color: transparent;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}


.hometext {
    font-size: 85px;
}
.hero_img img{
    background-size: cover;
    width: 100%;
    border: 2px solid #fff;
    margin  : 10px;
    
}
