<div class="home_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="hometext">Hello! I’m
                    Manjeet Malhotra</h1>
                <p class="fs-5 py-3">UI/UX Designer specializing in Shopify & <br> Webflow.</p>
                <a href="https://docs.google.com/document/d/1n8qs4eUxRQ04M3GDY9lMMu-dQPYVPUEgQQBKmc9CIQQ/edit#heading=h.9sntkeydggmy"
                    class="pt-4"> <button class="btn getresume"> Get Resume <i class="fa fa-download"
                            aria-hidden="true"></i></button></a>

            </div>
            <div class="col-md-5 ">
                <figure class="figure hero_img float-end ">
                    <img src="../../../../assets/images/bg-home.png" class="figure-img img-fluid rounded" alt="...">
                </figure>
            </div>
        </div>
    </div>
    
</div>