.nav-bg {
  background-color: #252734 !important;
  padding: 100 10px;
}

.li,
a.nav-link {
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 32.5px;
  flex-shrink: 0;
  padding-left: 40px !important;
  padding-right: 40px !important;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  align-items: center;
  border: 1PX solid #252734;

}

.li,
a.nav-link:hover {
  transition: all 0.5s ease 0s;
  background-color: rgb(59, 61, 73) !important;
  border: 1px solid var(--pale-sky);
  border-radius: 32.5px;
  z-index: 5;
}

.li,
a.nav-link:focus {
  color: #FFF;
  outline: 0px;
  box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem;
}





.icon_bg {
  color: #fff;
}

.dropdown-menu[data-bs-popper] {
  top: 68px;
  background: rgb(59, 61, 73);
  left: 0px;
  width: 235px;
  border-radius: 0px;
  border: none;
  color: #fff !important;
}

.dropdown-menu[data-bs-popper] .dropdown-item {
  padding: 10px 15px;
  color: #e3e0e0ca;
}

.dropdown-menu[data-bs-popper] .dropdown-item:hover {
  padding: 10px 15px;
  color: #252734;
}