/* You can add global styles to this file, and also import other style files */
/*    
! =========::INDEX OF CSS::========
:: 1.0 WEB FONTS
:: 2.0 Globaal
:: 10.0 Variabal define css
:: 3.0 Common css 
::4.0 header css
::5.0 Home css
::6.0 Counter css
::6.0 Promo css
::6.0 Contact css
::7.0 Footer css
::8.0 Responsive css
::9.0 Scroll  css
!==================/*
/*================
  ! 1.0 WEB FONTS
=================*/
/* @import url("googlefont "); */

/*

/*====================
 ! 2.0 Globaal Variabal define css
=====================*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: none;
    -moz-outline: none;
    outline-offset: 0
}

@font-face {
    font-family: text_font;
    src: url(assets/fonts/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: head_text;
    src: url(assets/fonts/TrajanPro-Regular.ttf);
}


a,
a:hover {
    text-decoration: none;
}

a,
a:hover {
    color: var(--bg-color);
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*

/*====================
! 10.0 Variabal define css
=====================*/
:root {
    /* todo  background color  */
    --Ebony-Clay: #252734;
    --Dust-Storm: #DFCEC2;
    --pale-sky: rgb(133, 135, 146);
    --rever-bed: #3f4e5c;
    --Vempire-Grey: #535056;

}

/* ==========================
! 3.0 Common css 
============================*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--text-font) !important;
    color: var(--text-color);
    font-size: 100%;
    font-weight: 400;
}

.container {
    width: 100%;
    margin: 0 auto;
}

p {
    margin-bottom: 0;
    font-family: var(--text-font);
}

a:hover,
a:focus {
    color: var(--text-color);
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

ol li,
ul li {
    list-style: none;
}

.common_btn {
    color: #737882 !important;
    line-height: 40px;
    font-size: 18px !important;
    box-sizing: border-box;
    border-radius: 32.5px !important;
    flex-shrink: 0;
    padding: 15px 40px 15px !important;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: #fff !important;
    border: 1px solid var(--pale-sky) !important;
}

.common_btn:hover {
    transition: all 0.5s ease 0s;
    background-color: rgb(59, 61, 73) !important;
    border: 1px solid var(--pale-sky);
    border-radius: 32.5px;
    color: #fff !important;
}

.common_btn:focus {
    outline: 0px;
    box-shadow: rgba(13, 110, 253, 0.25) 0px 0px 0px 0.25rem;

}